In [ ]:
#리스트 생성
a = [1,2,3,4,5]
print(a)
#자료형확인
print(type(a))
#개별요소를 참조 - 인덱스
print(a[0]) # 첫번째 요소 
print(a[1]) # 두번째 요소 
# 마지막 요소 
print(a[4])
print(a[-1])
# 리스트 변경 가능
a[0] = 10 
print("a = ", a)
# 개별요소를 줄단위로 출력 
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
# for 개별 변수 in 집합변수 
for i in a:
    print(i)
    
print("------------------------")
print("-" * 20 )

#for i in a:
 #   print(a[i]) 파이썬은 이게 안돼

In [ ]:
# 중첩리스트 - 이차원 리스트, 이차원 배열
a = [1,2,3,['a','b','c']]
print(a)
print(a[3])
print(a[3][0]) # 리스트 [행][열]

In [ ]:
# 리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소를 저장한다. 
x = [1,2,3,4,5]
# 객체복사
y = x 
y[0] = 10 
print("x = ", x)
print("y = ", y)

In [ ]:
# 주소가 아니라 값만 갖고 오고 싶을 때 
x = [1,2,3,4,5]
y = x[:] # slicing[start:stop]  # 이게 바로 값만 가지고 오는 동작이다. 
y[0] = 10 
print("x = ", x)
print("y = ", y)

In [ ]:
x = [1, 2, 3, 4, 5]
print(x[0:2]) # 0, 1
print(x[1:])

In [ ]:
# 리스트 연산 : 더하기(+) 연산
a = [1,2,3]
b = [5,6,7]
c = a+b # extend(확장)의 의미, 리스트가 가로로 연결된다. 
# a.extend(b)  이거는 별도의 변수에 저장 못해, d = a.extend(b) 이렇게 못쓴다
print("c = ", c)

In [ ]:
a.extend(b)
print(a)

In [ ]:
# 문자열도 시퀀스 자료형
# 문자열 + 문자열
"hello" + "python"

In [ ]:
# 리스트 연산 : 곱셈(*), 반복, 리스트 * 반복횟수 
a = [1,2,3]
b = a * 3
print(b)

In [ ]:
"hello " * 3
b = "*"
print(b)

In [ ]:
a = [1,2,3]
a[1:2] = ['a', 'b', 'c']
a

In [ ]:
a = [1,2,3]
a[1:3] = [] # 인덱스 1과 2번값을 삭제 
a

In [ ]:
a = [1,2,3]
del a[1]
a

In [ ]:
a = [1, 4, 2, 3]
a.sort()
a

In [ ]:
a = [1, 4, 2, 3]
a.reverse() # 뒤집어라 
a

In [ ]:
a = [1, 4, 2, 3]
a.sort(reverse=True)  # 위에랑 헷갈리지 말기 
a

In [ ]:
a = ['a', 'd', 'b', 'c'] #사전순 = 알파벳순으로 
a.sort()
a

In [ ]:
a = [1,2,3,4,5]
print(a.index(3)) # 3이라는 값이 몇번째 위치에 있는가 
# 없는 데이터의 위치를 찾으면 에러 발생 print(b.index('h'))

In [ ]:
a = [1,2,3]
a.insert(0,4) # 0자리에 4를 넣어라 
print(a)

In [ ]:
a = [1, 2, 3, 1, 2, 3]
# 값이 3인 요소 삭제 ( 1개만 )
a.remove(3) # 값으로 삭제 
print(a)

In [ ]:
del a[0] # 인덱스로 삭제

In [ ]:
a = [1,2,3]
b = a.pop() # 리스트의 마지막 요소를 추출
print(a)
print(b)

In [ ]:
# 요소의 개수(건수)
a = [1,2,3,1,2,1]
b = a.count(1) # 값이 1인 요소가 몇개인지 계산하는 함수 
print(b)

In [ ]:
# 리스트의 확장
a = [1,2,3]
# 리스트1.extend(리스트2) > 리스트1 확장 
a.extend([4,5])  # a.extend(6)이렇게 쓰면 리스트 아님
# 반드시 리스트로 담아야 한다. 
print(a)

In [ ]:
b = [7,8]
print(a+b)

In [ ]:
# 값 in 리스트, 값 not in 리스트 => 결과는 True or False
a = [1,2,3,4,5]
result = 2 in a # 있으면 True, 없으면 False
print(result)

result = 2 not in a # 없으면 True, 있으면 False
print(result)

# 튜플 (Tuple)

In [ ]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])
t2 = (3,4 )
print(t1 + t2)
t1 = t1 + t2  # 새로운 튜플을 생성한다는 의미로 이해해야 한다. 
print("t1 = ", t1)
print(t1 * 3)

In [6]:
a = 10 
b = 20 
a, b = (b, a)
print("a = ", a, "b = ", b)

a =  20 b =  10

In [1]:
#packing(패킹) : 여러 개의 값을 하나의 변수에 저장하는 것
t1 = (1,2,3)

# unpacking : 하나의 변수에 담은 값을 각각의 변수에 할당하는 것
# 데이터의 개수와 변수의 개수는 반드시 일치해야 한다. 
n1, n2, n3 = t1
t1

# 출력형식이 포함된 문자열.format(값1, 값2, 값3)
print("{0} {1}".format(n1, n2))

1 2

In [2]:
# 형변환 : int(), float(), str()
# 자료 구조의 형 변환 : list(), tuple()

In [4]:

my_list= [1,2,3]
my_tuple=('a','b','c')

print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['a', 'b', 'c']

# 딕셔너리

##  
- 키(key)와 값(value)를 쌍으로 담아서 관리하는 자료 구조 
- 저장된 각 값에 대한 순서는 의미가 없다. 
- 저장된 데이터는 키(key)에 의해 조회된다.  
- 키(key)는 중복을 허용하지 않는다. 
- 중괄호 {}를 사용하여 데이터를 표현한다. 
- 컴마(,)를 기준으로 아이템 구분
- 사전의 원소 => key: value(쌍으로 이루어짐)
- 사전.keys()=> key만 추출(임의의 순서)
- 사전.values()=> value만 추출(임의의 순서)
- 사전.items()=> key와 value를 튜플로 추출(임의의 순서)
- keys, values, items가 반환하는 자료형 =>리스트

In [5]:
# 딕셔너리{key:value, key:value, key:value}
# key는 숫자 인덱스보다 문자 인덱스를 선호(권장)

a = {1:'a'}
print(a)
print(type(a))

{1: 'a'}
<class 'dict'>

In [6]:
# 사전에 아이템(item) 추가
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [2]:
stu = {'[name]':'홍길동', 'phone':'010-4024-1234','age':'55'}
print(stu)

{'[name]': '홍길동', 'phone': '010-4024-1234', 'age': '55'}

In [13]:
# 키를 이용해서 값을 조회
print(stu['name']) #딕셔너리[key]
print(stu.get('name')) # 딕셔너리.get(key)


print(stu['age'])
print(stu.get('age'))

홍길동
홍길동
55
55

In [10]:
# keys 조회
stu.keys()

dict_keys(['name', 'phone', 'age'])

In [14]:
# values 조회
stu.values()

dict_values(['홍길동', '010-4024-1234', '55'])

In [17]:
# items : key와 value 모두 출력 
stu.items()

# for 개별변수 in 집합변수 
for k in stu.keys(): # for k in ['names','phone','age']
    print(k, "==>", stu[k])   # 리스트

name ==> 홍길동
phone ==> 010-4024-1234
age ==> 55

In [18]:
b = list(stu.keys())
print(b)

['name', 'phone', 'age']

In [19]:
c = list(stu.values())
print(c)

['홍길동', '010-4024-1234', '55']

In [20]:
d = list(stu.items())
print(d)

[('name', '홍길동'), ('phone', '010-4024-1234'), ('age', '55')]

In [22]:
print(d[0][1])

홍길동

In [23]:
for k,v in stu.items():  # 파이썬만 개별변수 2개쓰는거 가능하다고 하는구만
    print(k, "==>", v)

name ==> 홍길동
phone ==> 010-4024-1234
age ==> 55

In [25]:
# 새로운 item 추가
stu['weight'] = 67.4
print(stu)

{'name': '홍길동', 'phone': '010-4024-1234', 'age': '55', 'weight': 67.4}

In [26]:
'weight' in stu

True

# 집합(set)

In [27]:
# 집합 자료형 : 중복값은 허용하지 않으며, 순서대로 저장되지 않는다.
s1 = set([5,4,3,2,1,1,2,3,4,5])
s1

{1, 2, 3, 4, 5}

In [33]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합, &
a = s1 & s2
print(" 교집합 : " , a)

#합집합, |
b = s1 | s2
print("합집합 = " , b)

# 차집합, - 
c = s1 - s2
print(" 차집합 : " , c)

 교집합 :  {4, 5, 6}
합집합 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
 차집합 :  {1, 2, 3}

In [35]:
print("교집합 : ", s1.intersection(s2))
print("합집합 : ", s1.union(s2))
print("차집합:", s1.difference(s2))

교집합 :  {4, 5, 6}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합: {1, 2, 3}

In [2]:
s1 = set([1,2,3])
# 요소 추가
s1.add(4)  # 이걸 2번한다고 해서 s1안에 4가 두개 생기는건 아니다. 집합 중복 불가
print(s1)
#s1.add(4,5) #1개만 추가, 에러발생
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [10]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1.update([3,4,10])
print(s1)
s1.update([3,4])

{1, 2, 3, 4, 5, 6, 10}

In [39]:
s1.remove(2) # 값 제거
print(s1)

{1, 3, 4, 5, 6}

In [40]:
dic = {'a':10}
sse = {10}
print(dic)
print(sse)

{'a': 10}
{10}

In [41]:
x = (1, 2, 3, 4, 5)
y = x
print("x 주소 : ", id(x))
print("y 주소 : ", id(y))

x 주소 :  1817537960832
y 주소 :  1817537960832

In [44]:
x = 10
y = 20
print("x 주소 : ", id(x))
print("y 주소 : ", id(y))

x 주소 :  1817423014480
y 주소 :  1817423014800

In [45]:
x, y = y, x  # 값도 바뀌고 주소도 바뀐다. 
print("x 주소 : ", id(x))
print("y 주소 : ", id(y))

x 주소 :  1817423014800
y 주소 :  1817423014480

# 날짜 자료형

import 모듈명 // 해당 모듈의 모든 내용을 가져온다. 
from 모듈명 import 함수나 변수 // 해당 모듈에서 특정 함수나 변수를 가져온다.

In [49]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함
# import datetime 해당 모듈(datetime) 전체를 가져온다는 의미.
from datetime import date, time, datetime, timedelta

In [52]:
# date 변수, today() - 오늘 날짜를 구하는 함수 
today = date.today()  #date 가 가지고 있는 today라는 함수를 today라는 변수에 저장 
print("today : {}".format(today))

today : 2022-09-01

In [53]:
print("연도 : {}".format(today.year))
print("월 : {}".format(today.month))
print("일 : {}".format(today.day))

연도 : 2022
월 : 9
일 : 1

In [54]:
# 날짜와 시간을  구하기
current_datetime= datetime.today()
print("현재날짜와 시간 : {}".format(current_datetime))

현재날짜와 시간 : 2022-09-01 12:50:21.260937

In [55]:
# 형식화된 날짜 출력 : 서식 (%)
# (%y, %yy, %yyyy)
today = datetime.today()
print(today)
print(type(today))

2022-09-01 14:24:30.852034
<class 'datetime.datetime'>

In [60]:
# 날짜 자료형을 문자열로 형변환
# %y - 년도, %m - 월, %M - 분, %H - 시간
d = today.strftime("%Y-%m-%d %H:%M:%S")
print(d)
print(type(d))

2022-09-01 14:24:30
<class 'str'>

In [74]:
# 어제 날짜
ddd = timedelta(days=-1)
print(today + ddd)
# 1주일 전
days = timedelta(days= -7)
print(today + days)
# 30일 후 
days = timedelta(days= 30)
print(today + days)

# 8시간 전 
hours = timedelta(hours = - 8)
print( today + hours)

30 days, 0:00:00
2022-08-25 14:24:30.852034
2022-10-01 14:24:30.852034
2022-09-01 06:24:30.852034

# 리스트 내포(List Comprehension)

In [75]:
a = [] #a = list()

for i in range(1, 6): # [1, 2, 3, 4, 5] == range(1,6)
    a.append(i*2) # append = 추가 
    
print(a)

[2, 4, 6, 8, 10]

In [76]:
# 출력
a = [ i * 2 for i in range(1,6)]
print(a)

[2, 4, 6, 8, 10]

In [80]:
** 복습하기 
array = ['사과','자두','초콜릿','바나나','체리']
output = []

for i in array:
    if i != '초콜릿':
        output.append(i)
    
print(output)

['사과', '자두', '바나나', '체리']

In [84]:
# 인라인 함수 in line - 한 줄로 작성된 함수. 
array = ['사과','자두','초콜릿','바나나','체리']
output = [i for i in array if i != '초콜릿']

print(output)

['사과', '자두', '바나나', '체리']

# 트리만들기

In [11]:
h = int(input())
if h %2 == 0: # 짝수이면
    print('짝수 입력 X')
else:
    for i in range(h):
        print(" "*(h-i), "*"*i, "*"*i, sep="")

    **
   ****
  ******
 ********

In [14]:
h = int(input())

for i in range(h):
    for j in reversed(range(h)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(h):
        if j < i:
            print('*', end='')
    print() # 줄바꿈

    *
   ***
  *****
 *******
*********